:root {
    --btn-color: #2ca01c;
    --btn-color-hover: #35bf22;
    --btn-text-color: #fff;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    padding: 0 16px; 
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--btn-color);  
    color: var(--btn-text-color);
    outline: none;
    font-weight: 600;
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-color-hover);
    box-sizing: border-box;
}

.btn--outline {
    border: 1px solid rgb(141, 144, 150);
    background-color: white;  
    color: black;
    box-shadow: none;
    border-radius: 3px;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: rgb(210, 211, 214);  
}

.btn--outline:focus {
    background-color: rgb(210, 211, 214);  
}

.btn--dialog {
    border-radius: 3px !important;
}

.btn__sub {
    background-color: rgb(245, 245, 245);
    color: rgb(73, 182, 209);
    border: 1.6px solid rgb(73, 182, 209);
    margin-left: 16px;
    box-shadow: none;
}

.btn__sub:hover {
    background-color: rgb(209, 237, 244);
}

/* BEGIN: BUTTON FUNCTION */

.btn__save {
    box-shadow: none;
}

.btn__cancel {
    box-shadow: none;
    background-color: #ffffff;
    color: black;
}

.btn__tabRollback {
    outline: none;
    background-color: #fff;
    border: none;
}

.btn--disable {
    background-color: #f5f4f4;
    border: none !important;
    pointer-events: none;
}

.btn--disable .icon--del {
    background-position: -419px -111px;
	width: 18px;
	height: 18px;
    opacity: 0.4;
}


/* END: BUTTON FUNCTION */

