:root {
    --dialogContent-color: #111;
}
@keyframes popFromCenter {
    0% {
    opacity: 0;
    transform: scale(0);
    }

    80% {
    opacity: 1;
    transform: scale(1.1);
    }

    100% {
    opacity: 1;
    transform: scale(1);
    }
}

.dialog {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.dialog__box {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(23,27,42,0.078);
    border-radius: 3px;
    min-width: 444px;
    max-width: 444px;
    padding: 32px;
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    animation: popFromCenter 200ms ease-in-out forwards;
}

.dialog__close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog__body {
    display: flex;
    align-items: flex-start;
}

.dialog__title {
    color: var(--dialogContent-color);
    font-weight: 700;
    font-size:  20px;
    height: 24px;
    line-height: 24px;
}

.dialog__message {
    overflow: unset;
    max-height: 400px;
    line-height: 20px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 6px;
    color: var(--dialogContent-color);
}

.dialog__message--question {
    padding-top: 4px;
}

.dialog__message--validate {
    padding-top: 4px;
}

.dialog__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 20px;
    border-top: #b8bcc3 1px solid;
}

.dialog__footer--error {
    justify-content: center;
}

.dialog__footer--warning {
    justify-content: flex-start;
}

.dialog__footer .btn--dialog {
    height: 36px;
    min-width: 60px;
}

.dialog__footer--1button {
    justify-content: center;
}

.dialog__footer--right {
    display: flex;
    flex-direction: row-reverse;
}

.margin__left--8 {
    margin-left: 8px;
}