:root {
    --dialogContent-color: #1F1F1F;
}
@keyframes popFromCenter {
    0% {
    opacity: 0;
    transform: scale(0);
    }

    80% {
    transform: scale(1.08);
    }

    100% {
    opacity: 1;
    transform: scale(1);
    }
}

.dialog {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.dialog__box {
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(23,27,42,0.078);
    border-radius: 3px;
    width: 416px;
    min-width: 416px;
    padding: 24px;
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
    animation: popFromCenter 300ms ease-in-out forwards;
}

.dialog__body {

}

.dialog__title {
    color: var(--dialogContent-color);
    font-weight: 700;
    font-size:  20px;
    height: 24px;
    line-height: 24px;
}

.dialog__message {
    overflow:unset;
    max-height: 400px;
    min-height: 17px;
    margin: 24px 0;
    font-size: 14px;
    color: var(--dialogContent-color);
}

.dialog__footer {
    display: flex;
    flex-direction: row-reverse;
}

.dialog__footer .btn--dialog {
    margin-left: 8px;
    min-width: 80px;
    height: 36px;
}

.dialog__footer--1button {
    justify-content: center;
}
