.drilldown {
    position: absolute;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .16);
    top:100%;
    background-color: rgb(249, 250, 252);
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
    outline: none;
    transform-origin: top center;
    animation: scaleZ 300ms ease-in-out forwards;
}

@keyframes scaleZ {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    
    80% {
      transform: scale(1.02);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes popFromBottom {
    0% {
      transform: translateY(100px) scale(0);
    }
    100% {
      transform: translateY(0px) scale(1);
    }
  }