@keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdown {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 3;
    color: black;
/*     transition: opacity .25s,transform .25s,width .3s ease; */
}


.dropdown--function {
    height: 0;
    width: 0;
    position: sticky;
    right: 0;
    margin-top: 36px;
}

.dropdown--page {
    width: 100%;
    right: 0;
    top: -170px;
    animation: growDown 200ms ease;
    transform-origin: bottom center;
}

.dropdown--page .dropdown__item {
    height: 32px;
    line-height: 32px;
    transition: none;
    font-weight: 500;
}

.dropdown--page .dropdown__item:hover {
    color: rgb(63, 168, 50);
}

.dropdown--page .dropdown__item--focus {
    background-color: #50b83c;
    color: #fff;
}

.dropdown--department {
    top: 34px;
    right: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
}

.dropdown--department .dropdown__list {
    height: 100px;
    overflow-y: auto;
}

.dropdown--department .dropdown__list::-webkit-scrollbar {
	width: 10px;
}

.dropdown--department .dropdown__list::-webkit-scrollbar-track {
    background-color: rgb(241, 241, 241);
	border-radius: 3px;
}

.dropdown--department .dropdown__list::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #9E9E9E;
}

.dropdown--department .dropdown__item {
    height: 32px;
    line-height: 32px;
    transition: none;
    font-weight: 500;
}

.dropdown--department .dropdown__item:hover {
    background-color: rgba(80,184,60,0.1);
    color: black;
}

.dropdown__list {
    background: #fff;
    padding: 2px 0px;
    border-radius: 4px;
    border: 1px solid #babec5;
}

.dropdown--function .dropdown__list {
    right: 28px;
    position: absolute;

}

.dropdown__item {
    position: relative;
    white-space: nowrap;
    transition: all .2s ease;
    text-align: left;
    width: 100%;
    height: 28px;
    line-height: 28px;
    list-style: none;
    min-width: 100px;
    font-weight: 400;
    font-size: 13px;
    padding: 0 8px;

    display: flex;

}

.dropdown__item::selection {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown__item:hover {
    background-color: rgb(232, 233, 236);
    color: rgb(95, 192, 49)
}

.dropdown__header {
    background-color: rgb(236, 238, 241);
}