:root {
    --white-color: white;
    --black-color: black;
    --text-color: black; 
    --primary-color: rgb(199, 1, 1);
    --primary-color-rgba: rgba(199, 1, 1, 0.1);
}

html,body,div,
span,applet,object,
iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-family: Notosans Regular;
    vertical-align:baseline;
}

td {
    opacity: .99 !important;
}
    
article, aside,details,
figcaption,figure,footer,
header,hgroup,menu,nav,section {
    display:block
}

body {
    line-height:1
}
    
ol,ul {
    list-style:none
} 

blockquote,q {
    quotes:none
}
    
blockquote:before,blockquote:after,q:before,q:after { 
    content:'';
    content:none
}

table {
    border-collapse:collapse;
    border-spacing:0
}

html, body, * {
    font-family: Notosans Regular;
    font-size: 13px;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Notosans Regular;
    font-weight: normal;
    font-style: normal;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: Notosans Italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: Notosans Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

b {
    font-weight: 700;
}